<div align="center">

# `{{project-name}}`

**{{description}}**

*Recommended badges:*
* https://shields.io/badges/crates-io-version with LINK!!!
* https://shields.io/badges/docs-rs with LINK!!!
* https://shields.io/badges/git-hub-license
* https://deps.rs/

</div>

## Features

## Installation

### From Source

```
cargo install {{crate_name}}
```


## Precompiled Binaries

Precompiled binaries for Windows, Linux and MacOS can be found on the [release page]({{repo_url}}/releases).

> [!NOTE]
> The x86 binaries all expect CPUs with [`x86-64-v3`](https://en.wikipedia.org/wiki/X86-64#Microarchitecture_levels). **If your CPU/PC is newer than 2013, you don't have to worry.**


## License

This project is under the [<PLACEHOLDER> license](./LICENSE).
